a{
    text-decoration: none;
}
*{
    margin: 0;
}
/* body{
   background-image: url("./assets/mbits-banner.png");
   background-position: center;
   background-size: cover;
background-repeat: no-repeat;

} */